#about-me{
    background-color: #fafafa;
    padding-top: 60px;
    padding-bottom: 60px;
}
.social-icon{
    list-style: none;
}
.social-icon li{
    display: inline;
    margin-left: 5px;
    margin-right: 5px;
}
.social-icon li a{
    font-size: 34px;
}